@model MP3.Models.Songs

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Songs</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Info)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Info)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Country.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Country.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MusicFile)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MusicFile)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VideoFile)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VideoFile)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Image)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Image)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Quality)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Quality)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.View)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.View)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Download)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Download)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreatedTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastUpdate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastUpdate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StaffPickedTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StaffPickedTime)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
