@model MP3.Models.Songs

@{
    ViewBag.Title = Model.Name;
}

@Styles.Render("~/Content/stylesheet/song-details.css")

<div class="t3-module module no-padding mod-views  title-yellow" id="Mod69">
    <div class="module-inner">
        <div class="song-detail">
            <div class="title">
                <h3>
                    @Model.Name
                    - 
        <span class="singer-name">
            @{Html.RenderPartial("~/Views/Shared/_ArtistList.cshtml", Model.Singers);}
        </span>
                </h3>
            </div>
            <div class="info">
                <span class="writer">Sáng tác: @{Html.RenderPartial("~/Views/Shared/_ArtistList.cshtml", Model.Writers);}
                </span>
                @{var playlist = Model.SongPlaylist.Where(p => p.Playlist.User == null);}
                @if (playlist.Count() > 0)
                {
                    @:|
                    <span class="album">Album: @Html.ActionLink(playlist.First().Playlist.Name, "Details", "Playlist", new { id = playlist.First().Playlist.Id, title = playlist.First().Playlist.Name.Replace(" ", ",") }, null)
                    </span>
                }
                |
        <span>Thể loại: @{Html.RenderPartial("~/Views/Shared/_CategoryLinkList.cshtml", Model.Categories);}
        </span>
                |   
        <span>Lượt nghe: @Model.View.ToString()
        </span>
            </div>

            @{Html.RenderPartial("~/Views/Shared/_MusicPlayer.cshtml", Model);}

            <div class="tools clearfix">
                <ul>
                    <li><a href="javascript:;">Thêm vào playlist</a>
                        <ul>
                            @if (ViewBag.CurrentUser != null)
                            {
                                foreach (MP3.Models.Playlists uPlaylist in ViewBag.CurrentUser.Playlists)
                                {
                                    if (uPlaylist.SongsInPlaylist.Where(s => s.SongId == Model.Id).Count() == 0)
                                    {
                                <li>@Html.ActionLink(uPlaylist.Name, "Add", "Playlist", new { songId = Model.Id, playlistId = uPlaylist.Id }, null)</li>
                                    }
                                }
                            }
                            <li class="new-playlist">@Html.ActionLink("Playlist mới", "Add", "Playlist", new { songId = Model.Id }, null)</li>
                        </ul>
                    </li>
                    @if (@Model.MusicFile != null)
                    {
                        <li><a href="/Upload/musics/@Model.MusicFile" title="Nhấn chuột phải chọn Save as ...">Tải về máy</a></li>
                    }
                    else
                    {
                        <li><a href="/Upload/musics/@Model.VideoFile" title="Nhấn chuột phải chọn Save as ...">Tải về máy</a></li>
                    }


                    <li><a href="javascript:;">Chia sẻ</a></li>
                    @if (@ViewBag.CurrentUser == null)
                    {
                        <li><a class="like-btn" href="javascript:alert('Vui lòng đăng nhập');">Thích</a></li>
                    }
                    else if (@Model.LikedUsers.Where(u => u.UserId == ViewBag.CurrentUser.UserId).Count() > 0)
                    {
                        <li><a class="like-btn" href="javascript:;">Bỏ thích</a></li>
                    }
                    else
                    {
                        <li><a class="like-btn" href="javascript:;">Thích</a></li>
                    }
                </ul>
            </div>

            <div class="lyrics">
                <div class="title">Lời bài hát</div>
                <div class="content">
                    @if (Model.Lyrics == null)
                    {
                        <span class="no-lyrics">Chưa có lời bài hát!</span>
                    }
                    else
                    {
                        @Model.Lyrics
                    }
                </div>
            </div>

            <div class="comment">
                @{Html.RenderPartial("~/Views/Song/_NewComment.cshtml", Model);}
                <div class="comment-list">
                    @if (Model.Comments.Count > 0)
                    {
                        foreach (MP3.Models.SongComment songCmt in Model.Comments)
                        {
                            Html.RenderPartial("~/Views/Song/_CommentDisplay.cshtml", songCmt);
                        }
                    }
                </div>

                @if (Model.Comments.Count == 0)
                {
                    <div class="no-comment">
                        Chưa có bình luận nào!
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script>
    // Comment
    $(document).ready(function () {

        $(".new-comment form").submit(function () {
            this.submit.disabled = true;
            this.submit.value = "Đang tải ...";
            var form = this;
            $.ajax(
                {
                    url: '@Url.Action("Create", "SongComment")', 
                    data: {songId: @Model.Id, content: this.cmtContent.value}, 
                    success: function (data) {

                        if (data.type == "SUCCESS")
                        {
                            $(".new-comment").hide();
                            $(".comment-list").append(data.html);
                            $(".no-comment").hide();
                        }
                        else
                        {
                            alert("Lỗi" + data.msg);
                            form.submit.disabled = false;
                            form.submit.value = "Đăng bình luận";
                        }
                    },

                    error: function(jqXHR, textStatus, errorThrown) {
                        alert(textStatus + ":" + jqXHR.responseText );
                        form.submit.disabled = false;
                        form.submit.value = "Đăng bình luận";
                    },

                    dataType: "json",
                    type: "POST"
                });
            return false;
        });
    });

    // Like
    $(document).ready(function () {
        $(".tools .like-btn").click(function () {
            if (this.innerText == "Thích")
                this.innerText = "Bỏ thích";
            else
                this.innerText = "Thích";

            $.ajax(
                {
                    url: '@Url.Action("Like", "Song")',
                    data: { songId: @Model.Id },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert("Đã xảy ra lỗi, vui lòng thử lại sau!\n");
                    },

                    dataType: "json",
                    type: "POST"
                });
        });
    });
</script>
